header {
    background-image: url(../images/background.gif);
    display: inline-block;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

    nav {
        display: inline-block;
        width: 100%;
        font-size: 20px;
    }
    
    .hero {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: red;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }
    .hero > h1 {
        display: inline-block;
        width: 100%;
        margin-bottom: 100px;  
        margin-top: 50px; 
     }
     .hero > h3 {
        display: inline-block;
        width: 100%;
        text-align: end;
        margin-top: 30px;
     }
     .buttons {
        display: inline-block;
        width: 100%;
       
     }
     .hero > button {
         width: 200px;
     }
   